


<form [formGroup]="libroForm" (ngSubmit)="onSubmit()">


    <label >Titulo</label>
    <input type="text"  id="titulo" formControlName="titulo">

    <label>Autor</label>
    <input type="text"  id="autor" formControlName="autor">

    <label >ISBN</label>
    <input type="text" id="isbn" formControlName="isbn">

    <label >Editorial</label>
    <input type="text"  id="editorial" formControlName="editorial">

    <button type="submit">
        <span>Guardar</span>
    </button>

    <button routerLink="/libros">
        <span>Cancelar</span>
    </button>

</form>

<style>

    form{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        margin-top: 50px;
        gap: 10px;

        min-width: 450px;
    }
label{
    font-size: 16px;
    font-weight: 600;
}

    input{
        border: 1px solid blue;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 9px 20px;
        background-color: rgb(250,250,255);
        border-radius: 5px;
    }

    

</style>