@charset "UTF-8";
/* sty.css */
.successPopup {
            display: none;
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #d4edda;
            color: #155724;
            padding: 15px 30px;
            border: 2px solid #c3e6cb;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            font-size: 18px;
            animation: fadeInOut 2.5s ease-in-out;
            z-index: 1000;
        }

@keyframes fadeInOut {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            20% {
                opacity: 1;
                transform: translateY(0);
            }
            80% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-20px);
            }
        }
	