

.menu-toggle {
  display: none;
  margin-inline: 5px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}


.sidebar-panel {
  position: fixed;
  top: 0;
  left: -360px;
  width: 360px;
  height: 100vh;
  background-color: white;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 2100;
}

.sidebar-panel.abierto {
  left: 0;
}


.contenido {
  margin-top: 2rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
  width: 24px;
  height: 24px;
}