:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    width: 100%;
    background: var(--gray-50);
    border-bottom: 1px solid var(--gray-300);
    display: flex;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-between;
    flex-shrink: 0;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    
    width: 200px;
    background: var(--gray-50);
    border-right: 1px solid var(--gray-300);
    height: 100%;
    padding: 30px 20px 20px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.08s ease;
    white-space: nowrap;
    gap: 10px;
}

section {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: linear-gradient(to bottom, #ffffff 0%, rgb(250,250,255) 100%);
    transition: all 0.3s ease;
}