@use "sass:color";

:host {
  display: flex;
  height: fit-content;
  width: 100%;
}

main {
  width: 100%;
  height: 400vh;
}


.carrusel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background: #000;
}

.imagen {
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

