<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Inicio</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	


		<nav th:fragment="NavBar" class="navbar bg-body-white fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#"> <img src="/SVG/logo.svg"
					alt="Logo" width="30" height="24"
					class="d-inline-block align-text-top"> Control Manager
				</a>
			</div>
		</nav>






</body>
</html>