/* You can add global styles to this file, and also import other style files */

button{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}