.scrollContainer {
    display: flex;
    flex-direction: column;
    height: 100svh;
    overflow-y: auto;
    overflow-x: hidden;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 300;
}
