

.menu-toggle {
  
  display: block;
}

.sidebar-panel {
  position: fixed;
  
  top: 0;
  right: -360px;

  width: 360px;
  height: 100vh;

  background-color: white;
  transition: right 0.3s ease;
  z-index: 2100;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar-panel.abierto {
  right: 0;
}


.contenido {
  margin-top: 2rem;
}

.cerrar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1;
  width: 24px;
  height: 24px;
}